{% load static %}

{% block header %}
<div class="base-sidebar-container">
    <div class="sidebar-links">
        <a href="/"><div class="sidebar-link-home">Home</div></a>
        <a href="/battle"><div class="sidebar-link-home">Battle</div></a>
        <a href="/cards"><div class="sidebar-link-cards">Cards</div></a>
        <a href="/"><div class="sidebar-link-cards">My collection</div></a>
        <a href="/log_out"><div class="sidebar-link-log-out">Log out</div></a>
    </div>
</div>
{% block custom-header %}{% endblock %}
{% endblock %}