{% extends "base.html" %}
{% load static %}

{% load format %}

{% block content-header-title %}
Cards
{% endblock %}

{% block content%}

{% if cards_list %}
    <ul>
    {% for card_record in cards_list %}
        <li>
            {{ card_record.name_display }}
            <!-- <a href="https://www.pokemon-zone.com/cards/{{ card_record.card_set.set.code }}/{{ card_record.card_set.number }}/{{ card_record.card.name|to_hyphen:'_'|no_unsafe }}/">{{ card_record.card.name_display }}</a> -->
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No cards are available.</p>
{% endif %}

{% endblock %}